<%= render :partial => "devise/shared/header" %>

<div class = "content">
    <div class="spacer"></div>
    <div class="item">
        <div class="title">Forgot Your Password ?</div>
        <div class="metadata">Enter your Email Address to get Reset Password Instructions</div>
    </div>
    <div class="item">

    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>

    <p><%= f.label :email %><br />
        <%= f.email_field :email %></p>

        <p><%= f.submit "Send me reset password instructions" %></p>
        <% end %>
    </div>
    <%= render :partial => "devise/shared/links" %>
    <%= render :partial => "devise/shared/footer" %>