<div class="title">Fill Presentation Details</div>
<div class = "topic_form">
    <%= semantic_form_for ([@user,@presentation_topic]) do |form| %>
    <div class = "form_fields">
        <%= form.inputs :presentation_topic => "Basic" do %>
        <%= form.input :title , :input_html => { :class => 'autogrow'} %>
        <%= form.input :description , :input_html => { :class => 'autogrow', :rows => 15} %>
        <%= form.input :duration , :label => "Presentation Duration (in minutes)" %>

        <%= form.commit_button %>

        <% end %>
    </div>
    <% end %>
</div>