<h4>Fill Presentation Details: </h4><br/>

<%= semantic_form_for ([@user,@presentation_topic]) do |form| %>

<%= form.inputs :presentation_topic => "Basic" do %>
<%= form.input :title , :input_html => { :class => 'autogrow'} %>
<%= form.input :description , :input_html => { :class => 'autogrow', :rows => 5} %>
<%= form.input :duration , :label => "Presentation Duration (in minutes)" %>

<%= form.commit_button %>


<% end %>

<% end %>

