<ul type = "none">
    <% user = User.find(presentation_topic.user_id) %>
    <li>
        <h4>
            <%= link_to presentation_topic.title, user_presentation_topic_path(user,presentation_topic) %>
            <label>Posted By : </label><%=user.email %>
            <span class = "vote"><span class = "vote_no"> <%=presentation_topic.votes %> </span>Votes</span>
        </h4>
    </li>
    <li>
        <label>Created :</label>
        <%= time_ago_in_words(presentation_topic.created_at) %> ago
    </li>
    <li>
        <label>Description :</label>
        <%= presentation_topic.description.truncate(150) %>
    </li>
</ul>
