<div class = "content">
    <div class="spacer"></div>

    <div class="item">
        <% if current_user.id == @presentation_topic.user_id %>
        <%= link_to "Edit Topic Content", edit_user_presentation_topic_path(@user, @presentation_topic)%><br/>
        <%= link_to "Delete Topic", user_presentation_topic_path(@user, @presentation_topic), :method => :delete, :confirm => "Delete! Are you sure ? "%><br/>
        <% end %>
        <div class = "title"><%= @presentation_topic.title %></div>
        <% user = User.find(@presentation_topic.user_id) %>

        <div class = "vote_button">
            <%= link_to image_tag("vote_button.gif"), user_presentation_topic_vote_path(user,@presentation_topic),:id=>"vote_button", :remote => true %>
        </div>

        <div class = "topic_details">
            <p><label>Posted By : </label><%= user.email %></p>
            <p><label>Duration: </label><%= @presentation_topic.duration %> minutes</p>
            <p><label>Description: </label><pre><%= @presentation_topic.description %></pre></p>
            <p><label>Updated : </label><%= time_ago_in_words(@presentation_topic.updated_at) %> ago</p>
            <p><label>Total Votes : </label><span class = "topic_votes"><%= @presentation_topic.votes %></span></p>
        </div>
    </div>

    <%= link_to "Back to Index", users_path %> <br/>
    <%= link_to "See #{user.email}'s all topics", user_topics_index_path(user) %>
