<div class = "content">
    <div class="spacer"></div>

    <div class="item">
        <% if current_user.id == @presentation_topic.user_id %>
            <%= link_to "Edit Topic Content", edit_user_presentation_topic_path(@user, @presentation_topic)%><br/>
            <%= link_to "Delete Topic", user_presentation_topic_path(@user, @presentation_topic), :method => :delete, :confirm => "Delete! Are you sure ? "%><br/>
        <% end %>
        <% user = User.find(@presentation_topic.user_id) %>
        <p>
        Posted By : <%= user.email %>   |
        <%= link_to "Interesting?? Vote for This !", user_presentation_topic_vote_path(user,@presentation_topic) %>
        </p>

        <p>Title: <%= @presentation_topic.title %></p> <br/>
        <p>Duration:  <%= @presentation_topic.duration %> minutes</p> <br/>
        <p>Description: <%= @presentation_topic.description %></p> <br/>
        <p>Updated : <%= time_ago_in_words(@presentation_topic.updated_at) %> ago</p> <br/>
        <p>Total Votes : <%= @presentation_topic.votes %></p> <br/>
    </div>


    <%= link_to "Back to Index", users_path %> <br/>

    <%= link_to "See #{user.email}'s all topics", user_topics_index_path(user) %>
