<!DOCTYPE html>
<html>
    <head>
        <title>LunchNLearn</title>
        <%= stylesheet_link_tag :all %>
        <%= javascript_include_tag 'jquery', 'rails', 'application' %>

        <%= csrf_meta_tag %>
    </head>
    <body>
        <!-- header part -->
        <div class="container">
            <div class="gfx"><span></span></div>
            <div class="top">
                <div class="navigation">
                    <a href="http://localhost:3000" id="selected">Home</a>
                    <a href="index.html">The Journey</a>
                </div>

                <div class="pattern"><span></span></div>

                <div class="header">
                    <h1>LunchNLearn</h1>
                    <p>"Keep Yourself Informed"<br/>N<br/>"Learn How to Prepare for Changes"</p>
                </div>

                <div class="pattern"><span></span></div>
            </div>

            <div class = "content-welcome">
                <div class="spacer"></div>
                <div class = "item">
                    <p class="notice"><%= notice %></p>
                    <p class="alert"><%= alert %></p>

                    <%= render :partial =>"shared/links" %>
                </div>
            </div>

            <%= yield %>

            <!-- footer part -->
            <div class="divider"><span></span></div>
        </div>
        <!-- container ends -->

        <div class="footer">
            &copy; 2011 <a href="http://localhost:3000">LunchNLearn.com</a>  | Sprout Technology Services
        </div>

    </body>
</html>
